<section class="projectView" ng-controller="ProjectsController" ng-init="findNote()" ng-show="authentication.user._id === project.user._id">
	<!-- Name -->
	<h1 data-ng-bind="project.name"></h1>
	<!-- Edit link if project owner -->
	<br>
	<!-- Navigation -->
    <a href="/#!/projects/{{project._id}}">overview</a>
    <a href="/#!/projects/{{project._id}}/notes">notes</a><br>
    <button ng-click="previousNote()">previous</button>
	<button ng-click="nextNote()">next</button><br>
	<a href="/#!/projects/{{project._id}}/notes/create" ng-show="authentication.user._id === project.user._id">create note</a>
	<h3>Editing Note</h3>
	Title
	<textarea class="form-control" ng-model="note.title" ng-bind="note.title"></textarea><br>
	Note
	<textarea class="form-control" ng-model="note.content" ng-bind="note.content"></textarea><br>

	<!--  Remove note -->
	<button class="btn btn-default" ng-click="updateNote()">update note</button>

	<!--  Remove note -->
    <button class="btn btn-default" ng-click="openRemoveNoteModal()">remove note</button>

</section>