<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
		<div ta-bind ng-model="project.description"></div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div style="margin-bottom: 30px">
		Started on <span data-ng-bind="project.created | date:'mediumDate'"></span>	
	</div>
	<div class="btn btn-default" ng-click="followProject()">follow {{ project.followers.length }}</div>
	<a href="/#!/projects/{{project._id}}/notes"><h4>Notes {{ project.notes.length }}</h4></a>
	<a class="createNote btn btn-default" href="/#!/projects/{{project._id}}/notes/create">create note</a>
	<ow-comments obj="project.comments" project="project"></ow-comments>
</section>
